<div class="container">
  <h3 mat-dialog-title> Edit employee in "{{projectName}}" </h3>

  <form class="mat-dialog-content">

    <div class="form">
      <mat-form-field>
        <mat-select placeholder="Employee"
                    [(ngModel)]="employeeId"
                    name="employee">
          <mat-option *ngFor="let empl of employees" [value]="empl.id">
            {{empl.firstName + ' ' + empl.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div mat-dialog-actions class="button-row">
      <button mat-button
              [mat-dialog-close]="employeeId"
              cdkFocusInitial>
        Save
      </button>
      <button mat-button
              (click)="onNoClick()">
        Cancel
      </button>
    </div>
  </form>
</div>
