table {
  width: 100%;
}

table td {
  border-left: 1px solid rgba(0, 0, 0, .12);
  padding-left: 1%;
  padding-right: 1%;
}

table th:last-child, table td:last-child {
  padding-right: 1%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
